@import '/src/assets/styles/style.scss';

.products {
    margin-top: rem(92);
    @include breakpoint($md) {
        margin-top: rem(44);
    }
    .header {
        margin-bottom: rem(55);
        @include breakpoint($md) {
            margin-bottom: rem(24);
        }
        .heading {
            font-size: rem($title);
            font-family: $latoBold;
            @include breakpoint($md) {
                text-align: center;
                font-size: rem(24);
                margin-bottom: rem(34);
                width: $max-width;
            }
        }
    }
    .productContainer {
        .card {
            margin-bottom: rem(32);
            @include breakpoint($md) {
                margin-bottom: rem(22);
            }
        }
    }
}