body {
    overflow-x: hidden;
    color: $title-text-color;
    background-color: $main-bg;
    box-sizing: border-box;
    font-family: $fontMain,
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}