@import '../../../../assets/styles/abstracts/index.scss';
.introduction {

    height: 52vh;
    @include breakpoint($md) {
        height: 80vh;
    }
    .intro {
        position: relative;
        z-index: -1;
        .introTop {
            @include breakpoint($md) {
                height: 20vh;
                width: 100%;
                background-color: red;
            }
            img {
                width: 100%;
                @include breakpoint($md) {
                    height: 100vh;
                    width: 100%;
                }
            }
        }
    
        .introBottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            @include breakpoint($md) {
                display: none;
            }
            img {
                width: 100%;
            }
        }
    }
    .introMain {
        width: 100%;
        margin: auto;
        position: absolute;
        top: rem(188);
        display: flex;
        justify-content: space-between;
        @include breakpoint($md) {
            flex-direction: column;
            top: rem(136);
            align-items: center;
            text-align: center;
        }
        .introRight {
            @include breakpoint($md) {
                display: none;
            }
        }
        .introLeft {
            color: $header-text-color;
            @include breakpoint($md) {
                margin-bottom: rem(45);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            h2 {
                margin-bottom: rem(115);
                font-size: rem(50);
                width: 76%;
                @include breakpoint($md) {
                    margin-bottom: rem(45);
                    width: 86%;
                }
            }
            .imgMobile {
                display: none;
                @include breakpoint($md) {
                    display: block;
                    margin-bottom: rem(31);
                }
            }
            .sliderContainer {
                display: flex;
                gap: rem(26);
                .slider {
                    width: rem($slider-width);
                    border: 3px solid $slider-bg-color;
                }
            }
        }
    }
}