@import '../../../../assets/styles/abstracts/index.scss';

.introduction {
    position: relative;

    .backgroundImg {
        width: 100%;

        img {
            width: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
            height: 100%;
        }
    }

    .introMain {
        padding-top: rem(90);

        @include breakpoint($md) {
            flex-direction: column;
            padding-top: rem(68);
            align-items: center;
            text-align: center;
        }

        .introImg {
            img {
                object-fit: cover;
            }
            @include breakpoint($md) {
                display: none;
            }
        }

        .introContent {
            color: $header-text-color;
            margin-top: rem(24);
            font-family: $latoBold;
            @include breakpoint($md) {
                margin-bottom: rem(45);
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .textSlider {
                cursor: pointer;
                margin-bottom: rem(70);
                @include breakpoint($md) {
                    margin-bottom: rem(0);
                }
                .heading {
                    font-size: rem(50);
                    line-height: rem(61);

                    @include breakpoint($md) {
                        width: 82%;
                        margin: auto;
                        text-align: center;
                        font-size: rem(28);
                        line-height: rem(40);
                    }
                }
            }

            .imgMobile {
                display: none;

                @include breakpoint($md) {
                    display: block;
                    margin-bottom: rem(31);
                }
            }

            .sliderContainer {
                display: flex;
                gap: rem(26);

                .slider {
                    width: rem($slider-width);
                    border: 3px solid $slider-bg-color;
                    cursor: pointer;
                }
                .activeSlider { 
                    border: 3px solid $white;
                }
            }
        }
    }

    .introProduct {
        margin-top: rem(180);
        @include breakpoint($md) {
            margin-top: rem(33);
        }
    }
}
