@import '../../../../assets/styles/style.scss';

.client {
    background-color: $white-opacity;
    padding: rem(92) 0;
    
    @include breakpoint($md) {
        padding: rem(44) 0;
    }
    h2 {
        font-size: rem($title);
        color: $title-text-color;
        text-align: center;
        margin-bottom: rem(46);
        font-family: $latoBold;
        @include breakpoint($md) {
            text-align: start;
            font-size: rem(24);
            margin-bottom: rem(24);
        }
    }
    .clientContainer {
        display: flex;
        justify-content: space-between;
        @include breakpoint($md) {

        }
        .box{
            // background-color: red;
            border-right: 1px solid $client-line-color;
            padding-right: rem(19);
            // padding-left: rem(19);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
            }
            @include breakpoint($md) {
                padding-right: rem(16);
                padding-left: rem(16);
            }
        }
        .box:last-child {
            border-right: none;
        }
        .box:first-child {
            padding-left: 0;
        }
    }
}