@import '../../assets/styles/style.scss';

.header {
    display: flex;
    justify-content: space-between;
    margin-top: rem(92);
    margin-bottom: rem(63);
    @include breakpoint($md) {
        flex-wrap: wrap;
    }
    h2 {
        font-size: rem($title);
        @include breakpoint($md) {
            width: $max-width;
            margin-bottom: rem(34);
        }
    }
    .searchFilter {
        width: 50%;
        position: relative;
        .filterContainer {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            @include breakpoint($md) {
                width: $max-width;
            }
            .searchInput {
                width: 100%;
                padding: 16px 0 16px 50px;
                border: 1px solid $news-card-border-color;
                border-radius: rem(41);
                font-size: rem($web-little-text);
                outline: none;
    
                &:focus {
                    border-color: $main-text-color;
                }
    
                &::placeholder {
                    color: $news-placeholder-color;
                }
            }
    
            .searchIcon {
                position: absolute;
                left: rem(15);
            }
    
            .filterIcon {
                position: absolute;
                right: rem(5);
                cursor: pointer;
            }
        }
    }
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: calc((100% - (3 * 31%)) / 2);
    .card {
        width: 31%;
    }
    .noResult {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: rem(40) ;
        padding-bottom: rem(60) ;
        p {
            margin-top: rem(30);
            font-size: rem($text);
        }
    }
}

