@import '../../../../../assets/styles/style.scss';

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(30);
    margin-left: rem(45);
    cursor: pointer;

    i {
        font-size: rem(24);
    }

    select {
        width: 60px;
        appearance: none;
        background: none;
        border: none;
        outline: none;
        padding: 5px;
        font-size: 14px;
        cursor: pointer;
        color: $header-text-color;

        option {
            color: $option-text-color;
            border-radius: 50%;
            outline: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 120px;
            cursor: pointer;
        }
    }

    .btn {
        width: rem($header-sign);
        background-color: $white;
        border-radius: rem(41);
        font-size: rem($text);
        color: $sign-text-color;
        border: 3px solid rgba($blue-500, 0.1);
        padding: 10px 0;
        cursor: pointer;
    }
    .selectBtn {
        display: flex;
        align-items: center;
        gap: rem(32);
        @include breakpoint($md) {
            display: none;
        }
    }

    .menu {
        display: none;
        @include breakpoint(768px) {
            display: block;
        }
        
    }

}