@import '../../assets/styles/style.scss';

.about {
    display: flex;
    flex-direction: column;
    .aboutTop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: rem(77) 0;
        background-image: url(../../assets/images/statics/about-bg-gradient.png);
        background-size: cover;
        margin-bottom: rem(112);
        .left {
            @include breakpoint($md) {
                width: 95%;
                margin: auto;
            }
            position: relative;
            .bottomImg {
                position: absolute;
                left: 0;
            }
        }
        .right {
            width: 50%;
            color: $title-text-color;
            color: $white;
            margin-left: rem(92);
            h2 {
                font-size: rem($title);
            }
            p {
                margin-top: rem(12);
                margin-bottom: rem(22);
                font-size: rem($text);
                width: 86%;
                line-height: 25.6px;
            }
            @include breakpoint($md) {
                width: 95%;
                margin: auto;
            }
        }
    }
    .aboutBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        .bottomHeader {
            width: 70%;
            text-align: center;
            p {
                line-height: rem(25.6);
                margin-top: rem(12);
            }
        }
        .bottomMain {
            margin-top: rem(112);
            margin-bottom: rem(65);
            .textImgTop {
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(134);
                @include breakpoint($md) {
                    flex-wrap: wrap-reverse;
                }
                .textImg{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: rem(32);
                    width: 48%;
                    @include breakpoint($md) {
                        margin-top: rem(24);
                        width: 100%;
                    }
                    .purposeTarget {
                        .purposeTargetHeader {
                            margin-bottom: rem(12);
                            display: flex;
                            align-items: center;
                            gap: rem(18);
                            font-size: rem(20);
                        }
                        .text {
                            line-height: rem(25.6);
                        }
                    }
                }
                .purposeTargetImg {
                    width: rem(500);
                    height: rem(500);
                    @include breakpoint($md) {
                    }
                    img {
                        border-radius: rem(28);
                        height: 100%;
                    }
                }
            }
            .textImgTop:last-child {
                @include breakpoint($md) {
                    flex-wrap: wrap;
                }
            }
        }
    }
}