@import '../../../../../assets/styles/style.scss';

.navbar {
    display: flex;
    align-items: center;
        ul {
            display: flex;
            justify-content: space-between;
            gap: rem(34);
            li a {
                color: $header-text-color;
                text-decoration: none;
            }
        }
        @include breakpoint($lg) {
            display: none;
        }
}