@import '../../../../../assets/styles/style.scss';

.navbar {
    display: flex;
    align-items: center;
        // width: 70%;
        ul {
            display: flex;
            justify-content: space-between;
            gap: rem(32);

            li a {
                color: $header-text-color;
                text-decoration: none;
            }
        }
        @include breakpoint($md) {
            display: none;
        }
}