@import '../../../../../assets/styles/style.scss';

.header {
    background-image: url('../../../../../assets/../assets/images/statics/header-bg.png');
    background-size: cover;
    color: $header-text-color;
    padding-top: rem(38);
    padding-bottom: rem(38);
    font-family: $latoBold;
    @include breakpoint($md) {
        padding-top: rem(17);
        padding-bottom: rem(17);
    }
    .headerContainer {
        display: flex;
        justify-content: space-between;
        .right {
            display: flex;
            justify-content: space-between;
            @include breakpoint($lg) {
                display: none;
            }
        }
        .mobile {
            display: none;
            @include breakpoint($lg) {
                display: block;
            }
        }
    }
}


.hamburgerMenuWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    z-index: 1000;
}
