@import '../../../../assets/styles/style.scss';

.productsUpcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-opacity;
    padding-top: rem(52);
    padding-bottom: rem(46);
    border-radius: rem(28);
    .products {
        width: 84%;
        display: flex;
        margin: auto;
        margin-top: rem(55);
    }
    .more {
        display: flex;
        margin-top: rem(27);
        cursor: pointer;
        p {
            margin-right: rem(10);
            color: $blue-opacity;
        }
        i {
            color: $blue-opacity;
        }
    }
}