$green-900: #081E28;
$green-800: #0A2734;
$green-700: #0D3243;
$green-600: #104156;
$green-500: #12475F;
$green-400: #416C7F;
$green-300: #608494;
$green-200: #92AAB5;
$green-100: #B6C6CD;
$green-50: #E7EDEF;
$blue-500: rgb(43, 170, 226);
$main-bg: #F5F9FC;
$white: #FFF;
$footer-bg: #F0F1F4;
$title-text-color: #12475F;
$dark-blue: #10364D;
$main-text-color: #2BAAE2;
$sign-text-color: rgba(43, 170, 226, 1);
$header-text-color: rgba(255, 255, 255, 1);
$option-text-color: rgba(18, 71, 95, 1);
$slider-bg-color: rgba(45, 153, 220, 1);
$products-active-bg-color: rgba(234, 245, 252, 1);
$products-active-title-color: rgba(43, 170, 226, 1);
$products-circle-bg-color: #F0F1F4;
$products-price-bg: rgba(18, 71, 95, 0.05);
$products-text-color: rgba(16, 54, 77, 1);
$products-price-text-color: rgba(18, 71, 95, 1);
// $products-box-bg: rgba(240, 241, 244, 1);
$white-opacity: rgba(255, 255, 255, 1);
$blue-opacity: rgba(43, 170, 226, 1);
$client-line-color: rgba(209, 209, 209, 1);
$news-card-bg: #F5F9FC;
$news-card-border-color: #D5E0E8;
$footer-bg-color: #F0F1F4;
$footer-bottom-bg-color: #12475F12;
$news-placeholder-color: #474975;
$contact-line-color: #B7B7B7;
$news-details-color : #474975;
// $home-gradient-left: #1559A4;
// $home-gradient-right: #2D99DC;
