$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1200px;
$max-width: 100%;
$header-sign: 200;
$text: 18;
$slider-width: 65;
$title: 32;
$web-little-text: 14;
$intro-text: 50;
$products-title-width: 228;
$products-circle: 72;
$more-circle: 20;
$contact-form-border-radius: 41;
// $products-price-width: 101;

//breakpoints

$sm: 576px;
$md: 768px;