@import '/src/assets/styles/style.scss';

.title {
    margin-bottom: 20px;
    font-size: rem($title);
    color: $white;
    font-family: $latoBold;
}

.bottom {
    @include breakpoint($md) {
        width: 95%;
        margin: auto;
    }

    .formContainer {
        display: flex;
        justify-content: space-between;

        .form {
            display: flex;
            flex-direction: column;
            width: 48%;

            @include breakpoint($md) {
                width: 100%;
                margin: auto;
            }

            .row {
                display: flex;
                width: 100%;
                margin-left: rem(1);
                justify-content: space-between;

                .formItem {
                    width: 48%;
                }
            }

            .input,
            .select,
            .textarea {
                border-radius: rem($contact-form-border-radius);
                border: none;
                padding: rem(16) rem(0) rem(16) rem(24);

                &::placeholder {
                    font-size: rem($web-little-text);
                    color: $title-text-color;
                }
            }
            .ant-form-item-explain-error {
                color: blue; 
                font-weight: bold;        
            }

            .textareaUpload {
                position: relative;

                .textarea {
                    padding-top: rem(24);
                    padding-left: rem(24);
                    resize: none;
                }

                .uploadContainer {
                    position: absolute;
                    bottom: rem(40);
                    left: rem(28);

                    .uploadButton {
                        padding: rem(26) rem(40);
                        border: 1px dashed $main-text-color;
                        border-radius: rem($contact-form-border-radius);
                    }
                }
            }

            .deleteButton {
                color: red;
            }

            .fileDetails {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .recaptchaWrapper {
                .recaptcha {}
            }

            .submitButton {
                color: $white;
                border: none;
                border-radius: rem($contact-form-border-radius);
                padding-top: rem(25);
                padding-bottom: rem(25);
                font-size: rem($text);
                text-align: center;
                margin-top: rem(44);
                cursor: pointer;
                width: 100%;
                background-color: $main-text-color;
                font-family: $latoBlack;
            }
        }

        .imgContainer {
            position: relative;

            @include breakpoint($md) {
                display: none;
            }

            .contactImg {
                position: absolute;
                top: 0;
                right: rem(40);
                top: rem(70);
            }
        }
    }
}

.modal {
    padding-bottom: rem(44);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(536);
    border-radius: rem(41);
    background-color: $white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    @include breakpoint($md) {
        width: rem(380);
    }
    .close {
        display: flex;
        justify-content: flex-end;
        width: 92%;
        margin-top: rem(22);
    }

    .btn {
        padding-top: rem(16);
        padding-bottom: rem(16);
        width: 80%;
        margin-top: rem(44);
        border-radius: rem(41);
        background: none;
        &:hover {
            background-color: $main-text-color;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}